@use "./../abstracts/variables" as *;
@use "./../abstracts/mixins" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include media(tab-land) {
    font-size: 56.25%;
  }

  @include media(tab-port) {
    font-size: 50%;
  }

  @include media(big-desktop) {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  color: $color-text;
  font-size: 1.6rem;
  padding: 3rem;

  @include media(tab-port) {
    padding: 0;
  }
}
