@use "./../abstracts/variables" as *;
@use "./../abstracts/mixins" as *;

.heading__primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  &-top {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: showFromLeft 1s ease-out;
    @include media(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }
  &-bottom {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: showFromRight 1s ease-out;
    @include media(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading__secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  transition: 0.3s;

  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  letter-spacing: 0.2rem;

  background-clip: text;
  color: transparent;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }

  @include media(tab-port) {
    font-size: 3rem;
  }

  @include media(phone) {
    font-size: 2.5rem;
  }
}

.heading__tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

@keyframes showFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    opacity: 1;
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes showFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    opacity: 1;
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
