:root {
  --color-primary: #e67e22;
  --color-darker-primary: #cf711f;
  --color-secondary: #fdf2e9;
  --color-gray: #555;
  --color-dark-gray: #333;
  --color-neutral: #fff;
  --color-light-gray: #ddd;

  --primary-ff: "Rubik", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-ff);
  color: var(--color-gray);
  overflow-x: hidden;
}

.wrapper {
  --width: 120rem;
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 3.2rem;
}

.wrapper--hero {
  --width: 130rem;
}

.center {
  text-align: center;
}

.section-hero {
  background-color: var(--color-secondary);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 9.6rem;
  align-items: center;
}

.hero__image {
  width: 100%;
}

.hero__links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 8rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-meals__faces {
  display: flex;
  align-items: center;
}

.delivered-meals__face {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 3px solid var(--color-secondary);
}

.delivered-meals__face:not(:last-child) {
  margin-right: -1.6rem;
}

.delivered-meals__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-meals__meals-count {
  font-weight: 700;
  color: var(--color-darker-primary);
}

.header {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo__image {
  height: 2.2rem;
}

.navigation__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.section-featured {
  --custom-featured-color: #888;
  padding: 4.8rem 0 3.2rem 0;
}

.featured__title {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
  text-align: center;
  color: var(--custom-featured-color);
}

.featured__logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.featured__logo {
  height: 3.2rem;

  filter: brightness(0);
  opacity: 50%;
}

.section-how {
  padding: 9.6rem 0;
}

.how__image {
  width: 35%;
}

.how__image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how__image-container::before,
.how__image-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.how__image-container::before {
  background-color: var(--color-secondary);
  z-index: -1;
  width: 60%;
  padding-bottom: 60%;
}

.how__image-container::after {
  --color: #fae5d3;
  background-color: var(--color);
  z-index: -1;
  width: 45%;
  padding-bottom: 45%;
}

.how__step {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--color-light-gray);
  margin-bottom: 1.2rem;
}

.how__paragraph {
  font-size: 1.8rem;
  line-height: 1.8;
}

.section-meals {
  padding: 9.6rem 0;
}

.meal__title {
  font-size: 2rem;
  color: var(--color-dark-gray);
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal__content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: 0.3s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal__image {
  width: 100%;
}

.meal__tags {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--color-dark-gray);
  border-radius: 10rem;
  font-weight: 600;
  background-color: var(--color-background);
}

.tag--vegetarian {
  --color-background: #51cf66;
}

.tag--vegan {
  --color-background: #94d82d;
}

.tag--paleo {
  --color-background: #ffd43b;
}

.meal__attributes {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal__attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal__icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: var(--color-primary);
}

.meal__attribute-title strong {
  font-weight: 500;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list__item {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1.6rem;
}

.list__icon {
  width: 3rem;
  height: 3rem;
  stroke: var(--color-primary);
}

.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  background-color: var(--color-secondary);
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial__image {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial__text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial__author {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery__item {
  overflow: hidden;
}

.gallery__image {
  width: 100%;
  transition: 0.3s;
}

.gallery__item:hover .gallery__image {
  transform: scale(1.1);
}

.section-pricing {
  padding: 9.6rem 0;
}

.pricing__plan {
  border: 2px solid var(--color-secondary);
  padding: 4.8rem;
  width: 75%;
  border-radius: 11px;
}

.pricing__plan--starter {
  justify-self: end;
}

.pricing__plan--complete {
  position: relative;
  overflow: hidden;
  background-color: var(--color-secondary);
}

.pricing__plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd43b;
  padding: 0.84rem 8rem;
  color: var(--color-dark-gray);
  transform: rotate(45deg);
}

.plan__header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan__title {
  color: var(--color-darker-primary);
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}

.plan__price {
  font-size: 7.4rem;
  font-weight: 600;
  color: var(--color-dark-gray);
  margin-bottom: 1.6rem;
}

.plan__value {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan__text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan__action {
  margin-top: 4.8rem;
}

.plan__details {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
}

.feature__icon-box {
  background-color: var(--color-secondary);
  padding: 0.8rem;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 3.2rem;
}

.feature__icon {
  color: var(--color-primary);
  height: 3.2rem;
  width: 3.2rem;
}

.feature__title {
  font-size: 2.4rem;
  color: var(--color-dark-gray);
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature__text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 11px;
  overflow: hidden;
}

.cta__content {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading__secondary {
  margin-bottom: 3.2rem;
  color: inherit;
}

.cta__text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta__image {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("./../content/img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta__form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta__form input,
.cta__form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  color: inherit;
  font-family: inherit;
  border: none;
  background-color: var(--color-secondary);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.cta__form input::placeholder {
  color: #aaa;
}

.form__button {
  font-size: 2rem;
  font-weight: 600;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: 0.3s;
  padding: 1.2rem;
  align-self: end;
  background-color: #45260a;
  color: #fdf2e9;
}

.form__button:hover {
  color: #555;
  background-color: #fff;
}

.cta *:focus {
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.footer {
  padding: 9.6rem 0 12.8rem;
  border-top: 1px solid #eee;
}

.footer__heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer__nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer__link:link,
.footer__link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: 0.3s;
}

.footer__logo {
  display: block;
  margin-bottom: 3.2rem;
}

.footer__link:hover {
  color: #555;
}

.social-links {
  list-style-type: none;
  display: flex;
  gap: 2.4rem;
}

.social-links__icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  margin-top: auto;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.btn--hamburger {
  border: none;
  background-color: transparent;
  cursor: pointer;

  display: none;
}

.btn--icon {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--color-dark-gray);
}

.btn--icon[name="close"] {
  display: none;
}

.header.open .btn--icon[name="close"] {
  display: block;
}

.header.open .btn--icon[name="open"] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 9998;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* SMALL LAPTOPS */

@media (max-width: 84em) {
  .wrapper--hero {
    max-width: 120rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* LANDSCAPE TABLETS */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    grid-gap: 4.8rem;
  }

  .navigation__list {
    gap: 3.2rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero__image {
    width: 60%;
  }

  .hero__links {
    justify-content: center;
    margin-bottom: 3.2rem;
  }

  .delivered-meals {
    justify-content: center;
  }

  .hero__content,
  .hero__image-container {
    text-align: center;
  }

  .featured__logo {
    height: 2.4rem;
  }

  .how__step {
    font-size: 7.4rem;
  }

  .meal__content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta__form {
    grid-template-columns: 1fr;
  }

  .form__button {
    margin-top: 1.2rem;
  }

  .btn--hamburger {
    display: block;
    z-index: 9999;
  }

  .navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    pointer-events: none;

    transition: 0.3s;
  }

  .header.open .navigation {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  .navigation__list {
    flex-direction: column;
    gap: 4.8rem;
  }
}

@media (max-width: 44em) {
  .diets {
    grid-column: 1/-1;
    justify-self: center;
  }

  .pricing__plan {
    width: 100%;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

@media (max-width: 34em) {
  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero__links {
    flex-direction: column;
  }

  .hero__image {
    width: 80%;
  }

  .featured__logo {
    height: 1.2rem;
  }

  .how__image-container:nth-child(2) {
    grid-row: 1;
  }

  .how__image-container:nth-child(6) {
    grid-row: 5;
  }

  .how__image-container {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta__image {
    order: -1;
    height: 32rem;
  }

  .cta__content {
    padding: 3.2rem;
  }
}
