:root {
  --color-primary: #e67e22;
  --color-darker-primary: #cf711f;
  --color-secondary: #fdf2e9;
  --color-gray: #555;
  --color-dark-gray: #333;
  --color-neutral: #fff;

  --primary-ff: "Rubik", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-ff);
  color: var(--color-gray);
}

.wrapper {
  --width: 114rem;
  max-width: var(--width);
  margin: 0 auto;
}

.wrapper--hero {
  --width: 130rem;
}

.section-hero {
  background-color: var(--color-secondary);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
}

.hero__image {
  width: 100%;
}

.hero__links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 8rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-meals__faces {
  display: flex;
  align-items: center;
}

.delivered-meals__face {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 3px solid var(--color-secondary);
}

.delivered-meals__face:not(:last-child) {
  margin-right: -1.6rem;
}

.delivered-meals__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-meals__meals-count {
  font-weight: 700;
  color: var(--color-darker-primary);
}

.header {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo__image {
  height: 2.2rem;
}

.navigation__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
