:root {
  --color-primary: #e67e22;
  --color-darker-primary: #cf711f;
  --color-secondary: #fdf2e9;
  --color-gray: #555;
  --color-dark-gray: #333;
  --color-neutral: #fff;
  --color-light-gray: #ddd;

  --primary-ff: "Rubik", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-ff);
  color: var(--color-gray);
}

.wrapper {
  --width: 120rem;
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 3.2rem;
}

.wrapper--hero {
  --width: 130rem;
}

.section-hero {
  background-color: var(--color-secondary);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 9.6rem;
  align-items: center;
}

.hero__image {
  width: 100%;
}

.hero__links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 8rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-meals__faces {
  display: flex;
  align-items: center;
}

.delivered-meals__face {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 3px solid var(--color-secondary);
}

.delivered-meals__face:not(:last-child) {
  margin-right: -1.6rem;
}

.delivered-meals__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-meals__meals-count {
  font-weight: 700;
  color: var(--color-darker-primary);
}

.header {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo__image {
  height: 2.2rem;
}

.navigation__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.section-featured {
  --custom-featured-color: #888;
  padding: 4.8rem 0 3.2rem 0;
}

.featured__title {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
  text-align: center;
  color: var(--custom-featured-color);
}

.featured__logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.featured__logo {
  height: 3.2rem;

  filter: brightness(0);
  opacity: 50%;
}

.section-how {
  padding: 9.6rem 0;
}

.how__image {
  width: 35%;
}

.how__image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how__image-container::before,
.how__image-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.how__image-container::before {
  background-color: var(--color-secondary);
  z-index: -1;
  width: 60%;
  padding-bottom: 60%;
}

.how__image-container::after {
  --color: #fae5d3;
  background-color: var(--color);
  z-index: -1;
  width: 45%;
  padding-bottom: 45%;
}

.how__step {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--color-light-gray);
  margin-bottom: 1.2rem;
}

.how__paragraph {
  font-size: 1.8rem;
  line-height: 1.8;
}
