.heading-primary,
.heading__secondary,
.heading__tertiary {
  letter-spacing: -0.5px;
  color: var(--color-dark-gray);
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading__secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading__tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-darker-primary);
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}

.paragraph {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
}

.link--general:link,
.link--general:visited {
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 600;
  transition: all 0.3s;
}

.link--cta:link,
.link--cta:visited {
  color: var(--color-neutral);
  background-color: var(--color-primary);
}

.link--more:link,
.link--more:visited {
  color: var(--color-gray);
  background-color: var(--color-neutral);
}

.link--cta:hover {
  background-color: var(--color-darker-primary);
}

.link--more:hover {
  background-color: var(--color-secondary);
  box-shadow: inset 0 0 0 3px var(--color-neutral);
}

.link--navigation:link,
.link--navigation:visited {
  color: var(--color-dark-gray);
  font-weight: 500;
  font-size: 1.8rem;
  transition: 0.3s;
}

.link--navigation:hover {
  color: var(--color-darker-primary);
}

.link--navigation-cta:link,
.link--navigation-cta:visited {
  padding: 1.2rem 2.4rem;
}
